<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<title>桌面应用系统</title>
${static_context}
${static_jquery}
${static_jqueryui}
${static_ztree}
<script type="text/javascript" src="${contextPath}/extjs4/ext-all.js"></script>
<script type="text/javascript" src="${contextPath}/extjs4/locale/ext-lang-zh_CN.js"></script>
<link rel="stylesheet" href="${contextPath}/extjs4/resources/ext-theme-blue/ext-theme-blue-all-debug.css" type="text/css">
<link rel="stylesheet" type="text/css" href="${contextPath}/desktop/css/desktop.css"/>
<link rel="stylesheet" type="text/css" href="${contextPath}/desktop/css/index.css"/> 
<link rel="stylesheet" type="text/css" href="${contextPath}/desktop/css/taskbar.css"/> 
<script language="JavaScript" src="${contextPath}/extjs4/src/ux/Msg.js"></script>
<script language="JavaScript" src="${contextPath}/extjs4/src/ux/Ajax.js"></script>
<script language="JavaScript" src="${contextPath}/extjs4/src/ux/VTypes.js"></script>
<script language="JavaScript" src="${contextPath}/system/view/PermButton.js"></script>
<script language="JavaScript" src="${contextPath}/system/view/Login.js"></script>

<script type="text/javascript">
	var isSuperAdmin = true;
	var global_xm = "${user.xm}";
	var userHeadImage24 = "${(user.headImage24)!'${contextPath}/system/images/user_head_120.gif'}";
	Ext.onReady(function () {
	    Ext.create('desktop.view.PlatformApp');
	});
</script>
</head>
<body>
	
</body>
</html>