<#assign security=JspTaglibs["http://www.springframework.org/security/tags"] />
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>数据字典demo</title>
${static_context}
${static_jquery}
<script type="text/javascript" src="${contextPath}/system/jquery-plugins/dict.js"></script>
<script type="text/javascript">
	$(function(){
		$('#sexSel').bindDict({
			dictId:'1001',
			value:3
		});
		$('#btnGetSexSel').click(function(){
			var value = $('#sexSel').val();
			alert(value);
		});
	});
</script>
</head>
<body>

性别:<select id="sexSel">
</select>
<button id="btnGetSexSel">获取选中值</button><br/>
<@security.authorize ifAnyGranted="ROLE_DEPT_DELETE">
	<button>删除部门</button>
</@security.authorize>
<@security.authorize ifAnyGranted="ROLE_DICT_ADD">
	<button>添加数据字典</button>
</@security.authorize>
</body>
</html>