<#assign security=JspTaglibs["http://www.springframework.org/security/tags"] />
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>数据字典demo</title>
${static_context}
${static_jquery}
${static_ztree}
<script type="text/javascript" src="${contextPath}/system/jquery-plugins/dict.js"></script>
<script type="text/javascript">
	var setting = {
		data: {
			simpleData: {
				enable: true
			}
		},
		check: {
			enable: true
		},
		view: {
			addDiyDom: addDiyDom
		}
	};
		
	function addDiyDom(treeId, treeNode) {
		var aObj = $("#" + treeNode.tId + "_a");
		$.ajax({
			url:contextPath+"/system/menus/perms",
			data:{menuId:treeNode.id},
		 	success: function(list){
		 		for(var i = 0;i<list.length;i++){
		 			var perm = list[i];
		 			aObj.append('　<input type="checkbox" value="'+perm.id+'"/>'+perm.permName);
		 		}
		   	}
		});
	}
	$(function(){
		$('#sexSel').bindDict({
			dictId:'1001',
			value:3
		});
		$('#btnGetSexSel').click(function(){
			var value = $('#sexSel').val();
		});
		$.ajax({
			url:contextPath+"/system/menus/tree",
			async:false,
		 	success: function(list){
		 		$.fn.zTree.init($("#treeDemo"), setting, list);
		   	}
		});
		$.ajax({
			url:contextPath+"/system/menus/resetAll",
			async:false,
		 	success: function(result){
		 		console.log(typeof(result));
		   	}
		});
		
	});
</script>
</head>
<body>

性别:<select id="sexSel">
</select>
<button id="btnGetSexSel">获取选中值</button><br/>
<@security.authorize ifAnyGranted="ROLE_DEPT_DELETE">
	<button>删除部门</button>
</@security.authorize>
<@security.authorize ifAnyGranted="ROLE_DICT_ADD">
	<button>添加数据字典</button>
</@security.authorize>
<br/>
<ul id="treeDemo" class="ztree"></ul>
</body>
</html>