<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/jquery-ui/jquery-ui.min.css" type="text/css">
<script type="text/javascript" src="/jquery/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/jquery-ui/jquery-ui.min.js"></script>
<link href="${contextPath}/jqueryui-editable/css/jqueryui-editable.css" rel="stylesheet"/>
<script src="${contextPath}/jqueryui-editable/js/jqueryui-editable.js"></script>
<script type="text/javascript">
	$.fn.editable.defaults.mode = 'inline';
	$(function(){
		 $('#test').editable();
		 $("#abc").focus().select();
	});
</script>
</head>
<body>
<span id="test">superuser</span>
<span id="bs" contenteditable="true">编辑内容</span>
<input id="abc" value="twt"/>
</body>
</html>