<!DOCTYPE html>
<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>桌面设计</title>
<link href="${contextPath}/desktop/css/index.css" rel="stylesheet"/>
${static_jquery}
${static_jqueryui}
<script type="text/javascript" src="${contextPath}/desktop/js/index.js"></script>
</head>
<body>
	<div>
		<div class="desktop-shortcut-row">
			<div class="desktop-shortcut desktop-shortcut-over">
				<img src="${contextPath}/desktop/images/settings_icon.png">
				<div class="desktop-shortcut-text">系统设置</div>
			</div>
			<div class="desktop-shortcut">
				<img src="${contextPath}/desktop/images/contacts_icon.png">
				<div class="desktop-shortcut-text">通讯录</div>
			</div>
			<div class="desktop-shortcut">
				<img src="${contextPath}/desktop/images/find_icon.png">
				<div class="desktop-shortcut-text">查找iphone</div>
			</div>
			<div class="desktop-shortcut">
				<img src="${contextPath}/desktop/images/ic_launcher.png">
				<div class="desktop-shortcut-text">主题风格</div>
			</div>
			<div class="desktop-shortcut">
				<img src="${contextPath}/desktop/images/touch-icon-pad-retina.png">
				<div class="desktop-shortcut-text">iCloud Drive</div>
			</div>
			<div class="desktop-shortcut">
				<img src="${contextPath}/desktop/images/keynote.png">
				<div class="desktop-shortcut-text">Keynote</div>
			</div>
			<div class="desktop-shortcut">
				<img src="${contextPath}/desktop/images/Numbers.png">
				<div class="desktop-shortcut-text">Numbers</div>
			</div>
			<div class="desktop-shortcut">
				<img src="${contextPath}/desktop/images/icon.png">
				<div class="desktop-shortcut-text">Pages</div>
			</div>
			<div class="desktop-shortcut">
				<img src="${contextPath}/desktop/images/reminders_icon.png">
				<div class="desktop-shortcut-text">提醒事项</div>
			</div>
			<div class="desktop-shortcut">
				<img src="${contextPath}/desktop/images/photos_icon.png">
				<div class="desktop-shortcut-text">照片</div>
			</div>
			<div class="desktop-shortcut">
				<img src="${contextPath}/desktop/images/notes_icon.png">
				<div class="desktop-shortcut-text">备忘录</div>
			</div>
			<div class="desktop-shortcut">
				<img src="${contextPath}/desktop/images/mail_icon.png">
				<div class="desktop-shortcut-text">邮件</div>
			</div>
			<div class="desktop-shortcut">
				<img src="${contextPath}/desktop/images/help_icon.png">
				<div class="desktop-shortcut-text">帮助</div>
			</div>
			<div class="desktop-shortcut">
				<img src="${contextPath}/desktop/images/bak_icon.png">
				<div class="desktop-shortcut-text">备份管理</div>
			</div>
			<div class="desktop-shortcut">
				<img src="${contextPath}/desktop/images/dic_icon.png">
				<div class="desktop-shortcut-text">数据词典</div>
			</div>
			<div class="desktop-shortcut">
				<img src="${contextPath}/desktop/images/user_icon.png">
				<div class="desktop-shortcut-text">用户管理</div>
			</div>
			<div class="desktop-shortcut">
				<img src="${contextPath}/desktop/images/org_icon.png">
				<div class="desktop-shortcut-text">组织机构</div>
			</div>
			<div class="desktop-shortcut">
				<img src="${contextPath}/desktop/images/folder_icon.png">
				<div class="desktop-shortcut-text">系统管理</div>
			</div>
		</div>
	</div>
</body>
</html>